language: python
python: 
    - "3.5"
    - "3.5dev"
    - "nightly"

install: 
    - pip install coveralls
    - pip install -r requirements.txt
    - if [ "$TRAVIS_BRANCH" == "master" ] || [ "$TRAVIS_BRANCH" == "develop" ];
    -   then pip install yapf
    - fi

script: 
    - coverage run -m unittest
    - if [ "$TRAVIS_BRANCH" == "master" ] || [ "$TRAVIS_BRANCH" == "develop" ];
    -   then yapf -ri --style=google text_regonizer/ tests/ || exit $?
    - fi

after_success:
    coveralls

matrix:
  allow_failures:
      - python: "3.5dev"
      - python: "nightly"
